name: Build
on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: '1.24'
          go-version-file: 'go.mod'
          cache-dependency-path: 'go.sum'

      - name: Generate
        run: go generate -v ./...

      - name: Build Test
        run: go build -v ./...

      - name: Unit Test
        run: go test -v ./...